header.header#header
  .navbar-wrapper
    .container
      .navbar
        a(href='#').logo
          img.logo-img(src="./assets/images/logo.png", alt="")
        ul.menu
          li.menu__item
            a.menu__link(href="#") о нас
          li.menu__item
            a.menu__link(href="#") услуги и цены
          li.menu__item
            a.menu__link(href="#") новости
          li.menu__item
            a.menu__link(href="#") школа
          li.menu__item
            a.menu__link(href="#") striga tv
          li.menu__item
            a.menu__link(href="#") контакты
          li.menu__item
            a.menu__link(href="#") вакансии
    .header-bg
      .header__description
        p 
          strong STRIGA™ School 
          span Школа парикмахерского искусств
      .container
        .header-text
          h2 Хотите научиться 
          p 
            span не просто стричь и красить, <br>
            strong а творить магию, <br>
            | менять людей вокруг и <br>
            | открывать их истинную красоту?
        .header-text
          h2.text-thin Записывайтесь в 
            span 
              | Школу начинающих
              | мастеров striga 
          button.button хочу учиться в striga
          p.price от 13 250 ₽.
      .header__team-bg

