section.learning
  .container
    h2.title Программа обучения
    p.subtitle Тщательно проработанный комплекс занятий предусматривает последовательное освоение различных техник, фирменных приемов, тонкостей и нюансов парикмахерского дела.

  .container__fluid
    .container
      .learning__group
        .learning__block
          img(src="./assets/images/learning-1.png", alt="")
          h3.learning-title Общепрофессиональный курс.
          p Идеальный базовый курс, по окончании которого, вы сможете приступить к работе или остаться у нас стажироваться, а в будущем, возможно, даже работать в нашей команде! Мы не просто дадим вам знания для дальнейшей работы. Мы предоставим вам шанс изменить вашу жизнь: лучшие будут приглашены на работу в нашу команду.

        .learning__block
          img(src="./assets/images/learning-2.png", alt="")
          h3.learning-title Стрижки женские и мужские.
          p Наглядное пособие по одному из ключевых направлений профессии. Поможет разобраться в отличиях и особенностях различных техник, освоить тонкости и секреты профессионалов.

        .learning__block
          img(src="./assets/images/learning-3.png", alt="")
          h3.learning-title Укладка.
          p Погрузит в рукотворную магию мастеров безупречной фиксации. Позволит дополнить полученные знания эффектными и полезными навыками и умениями, расширить арсенал и возможности.

        .learning__block
          img(src="./assets/images/learning-4.png", alt="")
          h3.learning-title Колористика.
          p Это базовый курс обучения, который дает возможность узнать о популярных видах окрашивания и позволит стать компетентным специалистом с прочным фундаментом для дальнейшей работы

        .learning__block
          img(src="./assets/images/learning-5.png", alt="")
          h3.learning-title Профессиональная этика.
          p Курс жизни для начинающих от опытных специалистов. Именно он станет полезной подсказкой при построении эффективных отношений “парикмахер-клиент”.

        .learning__block
          img(src="./assets/images/learning-6.png", alt="")
          h3.learning-title Дипломное проектирование.
          p Полученный багаж знаний становится еще ценнее после тщательной переработки, практической деятельности и индивидуального восприятия. И дипломная работа - яркое тому подтверждение.

