section.schedule
  .schedule__mask
  .container
    .schedule__course
      h2.title График и форма занятий
      h2.schedule__group-title Продолжительность 3 или 6 месяцев
      .schedule__group
        .schedule__group-left
          h2.title группа буднего дня
          .schedule-text
            p Для тех, кто готов максимально сосредоточиться и получить знания за 3 месяца: обучаясь 4 раза в неделю.

            p.timetable
              | (пн, вт, ср, чт)<br>
              | с 10-00 до 15-00

        .schedule__group-right
          h2.title группа выходного дня
          .schedule-text
            p Для тех, кто работает или учится и хочет получить новую профессию, обучаясь только по выходным.

            p.timetable
              | 2 раза в неделю (cб-вс)<br>
              | с 10-00 до 15-00



