section.school
  .container
    .school__description
      .description-block
        img(src="../assets/images/school-1.png", alt="")
        p Численность группы
      .description-block
        img(src="../assets/images/school-2.png", alt="")
        p Стоимость обучения
      .description-block
        img(src="../assets/images/school-3.png", alt="")
        p Структура занятий
      .description-block
        img(src="../assets/images/school-4.png", alt="")
        p Преподаватели STRIGA™
    .school__description
      .description-text
        p
          | В группе предусмотрено одновременное обучение до 15 человек.
          | Это позволяет обеспечить каждому студенту максимальное внимание для достижения высоких результатов.
      .description-text
        p
          | Стандартная стоимость обучения 
          strong 79 500 руб. 
          | Но мы даем 
          strong скидки: 
          | чем раньше забронируешь место тем больше скидка. 
          | Рассрочка: 
          strong 3 месяца по 
          strong 26 500 руб 
          | в группу буднего дня, и 
          strong 6 месяцев по 13 250 руб 
          | в группу выходного дня.
      .description-text
        p
          | Программа обучения включает общепрофессиональный курс, курс 
          | профессиональной этики и 
          | 4 ключевых направлений: 
        ul
          li стрижки женские и мужские
          li укладки
          li колористика
      .description-text
        p
          | К преподаванию азов и тонкостей парикмахерского искусства мы привлекаем настоящих профессионалов и фанатов своего дела! Каждый тематический блок обучения распределяется среди преподавателей согласно их ключевому направлению и опыту работы.





