section.secret
  .container
    .secret-inner
      img.secret-img(src="../assets/images/secret-block.jpg", alt="")
      .secret-text
        p Мы знаем 
          strong секрет красоты <br>
          | и 
          | готовы поделиться им! <br>
          | Приглашаем желающих освоить <br>
          strong магию парикмахерского <br>
            | искусства.

        p Мы помогаем развивать талант и <br>
          | открываем 
          strong новые звезды!