section.teachers
  .container
    h2.title преподаватели striga™
    .teacher__row
      .teacher__leader
        .team-round
          img(src="./assets/images/teacher-1.png", alt="")
        .teacher__leader-about
          h3.teacher__name Алексей Стрига
          p.teacher__description Основатель и идейный вдохновитель STRIGA™
          p.teacher__experience 
            strong Опыт работы: 
            | 13 лет.
          p.teacher__awards 
            strong Награды: 
            | Дипломант ведущих международных академий по парикмахерскому искусству ZGAT (CROATIA, ZAGREB), LLONGUERAS (BARCELONA). Мастер Международного класса. Обладатель Кубка «Золотые Ножницы» 2007, 2012. Самый популярный стилист Краснодара 2015 года по версии журнала «СОБАКА».
    .teacher__row
      .teacher__team
        .team-round
          img(src="./assets/images/teacher-2.png", alt="")
        h3.teacher__name Бугорская Татьяна
        p.teacher__description Стилист @strigacolorlounge Эксперт по мужским стрижкам
        p.teacher__experience 
          strong Опыт работы: 
          | 7 лет.
        p.teacher__awards 
          strong Награды: 
          | Чемпион России по мужским стрижкам в номинации Hair Tattoo
      .teacher__team
        .team-round
          img(src="./assets/images/teacher-3.png", alt="")
        h3.teacher__name Пак Анна 
        p.teacher__description Стилист @strigacolorlounge Эксперт по укладкам 
        p.teacher__experience 
          strong Опыт работы: 
          | 5 лет.
        p.teacher__awards 
      .teacher__team
        .team-round
          img(src="./assets/images/teacher-4.png", alt="")
        h3.teacher__name Борзунова Ксения 
        p.teacher__description Мастер-стилист Эксперт по окрашиванию
        p.teacher__experience 
          strong Опыт работы: 
          | 5 лет.
        p.teacher__awards 