extends ../template

block variables
  - var title = "Striga"

block content
  include ../common/preloader
  include ../common/header
  include ../common/secret
  include ../common/schedule
  include ../common/school
  include ../common/teachers
  include ../common/learning
  //- - include ../common/main
  //- - include ../common/footer