@import "normalize";
@import "common/variables";
@import "common/header";
@import "common/secret";
@import "common/schedule";
@import "common/school";
@import "common/teachers";
@import "common/learning";
@import "common/reviews";
@import "common/description";
@import "common/awards";
@import "common/charity";
@import "common/form";
@import "common/request";
@import "common/footer";
// @import "common/fonts";
// @import "common/preloader";

html,
body {
  font-size: $main-fz;
  font-family: $main-font;
  color: $primary-color;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container__fluid {
  width: 100%;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  margin: 0;
  padding: 0;
}

ul {
  font-size: 0rem;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

li,
a,
p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  // color: #fff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  position: relative;
  padding: 100px 0 0;
}

.title {
  font-size: 1.66rem;
  padding-bottom: 35px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}