.header {
  min-height: 820px;
  background-color: $bg-second;
}

// .navbar-wrapper {
//   background-color: $bg-second;
// }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 134px;
}

.logo-img {
  width: auto;
  height: 24px;
}

.menu {
  display: flex;
  font-size: 0;
}

.menu__item {
  margin: 0 12px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $primary-color;
    transition: linear 0.5s;
  }

  &:hover {
    &::after {
      width: 60%;
    }
  }

  &:last-child {
    &::before {
      content: "";
    }
  }

  &::before {
    content: "x";
    position: absolute;
    margin-top: -3px;
    right: -12px;
    transform: translate(50%, 50%);
    font-size: 0.55rem;
    color: #bababa;
  }
}

.menu__link {
  display: block;
  font-size: 0.88rem;
  color: $primary-color;
  text-transform: uppercase;
  font-weight: 100;
}

.header-bg {
  position: relative;
  min-height: 686px;
  background: url("./../images/header-bg.jpg") no-repeat center center;
  background-size: cover;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient(90deg, #b335e1 0%, #9101ee 100%);
    opacity: .8;
  }
}

.header__team-bg {
  position: absolute;
  width: 100%;
  min-height: 686px;
  bottom: 0;
  background: url("./../images/header-team.png") no-repeat 75% bottom;
  background-size: auto;
  z-index: 5;
}

.header__description {
  position: absolute;
  transform: rotate(-90deg);
  width: 0;
  color: #fff;
  white-space: nowrap;
  bottom: 20%;
  text-align: center;
  left: 67px;
  z-index: 5;

  span {
    font-family: $second-font;
    font-weight: 100;
  }
}

.header-text {
  position: relative;
  width: 470px;
  padding: 70px 0 0;
  color: #fff;
  z-index: 10;

  h2 {
    font-size: 2.22rem;
    text-transform: uppercase;
    padding-bottom: 1rem;

    span {
      display: block;
      font-size: 1.7rem;
      font-family: $main-font;
      font-weight: 800;
      line-height: 2rem;
      padding-top: 1rem;
    }
  }

  .text-thin {
    font-size: 2.5rem;
    font-family: $second-font;
    font-weight: 300;
  }

  p {
    font-size: 1.5rem;
    line-height: 2rem;

    span {
      font-size: 1.6rem;
      text-transform: uppercase;
    }
  }
}

.button {
  display: block;
  font-size: 1.125rem;

  background-color: #fff;
  border: none;
  margin: 15px 0 20px;
  padding: 24px 20px;
  color: $primary-color;
  text-transform: uppercase;

  cursor: pointer;

  transition: linear .3s;

  &:focus {
    outline: none;
  }

  &:hover {
    transform: translateY(-5px);
  }
}
