.learning {
  background-color: $bg-second;
  padding-bottom: 0;

  .container__fluid {
    // background-color: $purple;
    background: linear-gradient(to right, rgba(145,2,238,1) 50%, rgba(25,25,25,1) 50%);
  }
}

.subtitle {
  font-size: 18px;
  padding-bottom: 65px;
}

.learning__group {
  display: flex;
  flex-wrap: wrap;
}

.learning__block {
  flex-basis: 33.33%;
  padding: 30px 30px 0;
  height: 370px;
  background-color: #191919;

  img {
    width: 70px;
    height: 70px;
  }

  p {
    font-size: 18px;
    color: #fff;
    line-height: 1.4rem;
    height: 180px;
    overflow: hidden;
  }

  &:nth-child(3n+1) {
    background-color: $purple;
  }
}

.learning-title {
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 16px;
  color: #fff;
  height: 90px;
  line-height: 1.8rem;
}
