.schedule {
  background: url("./../images/schedule-bg.jpg") #191919 no-repeat center center;
  background-size: cover;
  min-height: 710px;
  color: $secondary-color;
}

.schedule-title {
  font-size: 30px;
  padding-bottom: 40px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}

.schedule__group-title {
  font-size: 30px;
  padding: 30px 0;
  margin-bottom: 30px;
  font-weight: normal;
  text-align: center;
  background: linear-gradient(90deg, rgba(179,53,225,1) 0%, rgba(145,1,238,1) 100%);
}

.schedule__group {
  display: flex;
}

.schedule__group-left,
.schedule__group-right {
  flex-basis: 50%;
  // border: 1px solid $secondary-color;
  padding: 0 50px;
}

.schedule-text {
  display: flex;
  flex-direction: column;
  height: 270px;
  padding: 57px 0 68px;

  p {
    font-size: 1.125rem;
  }

  .timetable {
    margin-top: auto;
  }
}
