.school {
  background-color: $bg-second;
  padding-top: 130px;

  &__description {
    position: relative;
    display: flex;
    padding: 0 15px 45px;
    z-index: 5;
  }

  &::before {
    content: "Striga School";
    position: absolute;
    top: 20px;
    font-size: 8.38rem;
    width: 100%;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
  }
}

.description-block {
  // display: flex;
  flex-basis: 25%;
  padding-top: 45px;
  padding-left: 40px;
  padding-right: 50px;
  background-color: $bg-second;
  
  height: 280px;
  
  &:nth-child(odd) {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  &:nth-child(even) {
    background-color: #191919;
    color: #fff;
  }

  p {
    font-size: 1.22rem;
    font-weight: bold;
    padding-top: 35px;
    line-height: 1.8rem;
  }
}

.description-text {
  flex-basis: 25%;
  padding-top: 20px;
  // padding-left: 50px;
  padding-right: 35px;

  p {
    // font-weight: bold;
    font-size: 1.125rem;
  }
}