.secret-inner {
  display: flex;
  padding: 0 15px;
}

.secret-img {
  z-index: 5;
  padding-right: 30px;
}

.secret-text {
  padding-top: 130px;
  padding-right: 60px;

  p {
    font-size: 1.75rem;
    padding-bottom: 40px;
  }
}