.secret {
  padding-bottom: 150px;
}

.secret-inner {
  display: flex;
  padding: 0 15px;
}

.secret-img {
  width: 541px;
  height: 431px;
  z-index: 5;
  margin-right: 30px;
}

.secret-text {
  padding-top: 130px;
  padding-right: 60px;
  position: relative;

  p {
    font-size: 1.55rem;
    padding-bottom: 40px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 65px;
    right: 0;
    width: 790px;
    height: 435px;
    border: 5px solid $bg-second;
    z-index: -1;
  }

  &::before {
    content: "S";
    position: absolute;
    top: -205px;
    left: -355px;
    color: $bg-second;
    font-size: 787px;
    font-weight: bold;
    z-index: -1;
  }
}