.teachers {
  padding-bottom: 0;

  &::before {
    content: "Преподователи";
    position: absolute;
    top: 120px;
    font-size: 8.38rem;
    width: 100%;
    text-align: center;
    color: $bg-second;
    text-transform: uppercase;
    font-weight: 800;
    z-index: -1;
  }
}

.teacher__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 35px;
  
  .team-round {
    position: relative;
    width: 271px;
    height: 271px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;

      width: 271px;
      height: 271px;
      border: 3px solid rgba(145,2,238,.3);
      border-radius: 50%;
    }

    &:after {
      position: absolute;
      content: "";
      top: 18px;
      left: 19px;

      width: 231px;
      height: 231px;
      border: 14px solid rgba(145,2,238,.3);
      border-radius: 50%;
    }
  }

  img {
    border-radius: 50%;
    overflow: hidden;
  }
}

.teacher__leader {
  display: flex;

  .team-round {
    margin-right: 50px;
  }

  img {
    margin-bottom: 0;
  }
}

.teacher__name {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 22px;
}

.teacher__description {
  width: 270px;
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.54);
  padding-bottom: 35px;
}

.teacher__experience {
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 30px;
}

.teacher__awards {
  max-width: 768px;
  line-height: 1.4rem;
}

.teacher__team {
  flex-basis: 271px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .teacher__name {
    text-align: center;
  }

  .teacher__description {
    padding-left: 10px;
  }
}
