.teachers {
  padding-bottom: 0;
}

.teacher__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 35px;

  img {
    width: 271px;
    height: 271px;
    border-radius: 50%;
    margin-bottom: 40px;
  }
}

.teacher__leader {
  display: flex;

  img {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

.teacher__name {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 22px;
}

.teacher__description {
  width: 270px;
  font-size: 18px;
  font-style: italic;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.54);
  padding-bottom: 35px;
}

.teacher__experience {
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 30px;
}

.teacher__awards {
  max-width: 768px;
  line-height: 1.4rem;
}

.teacher__team {
  flex-basis: 271px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .teacher__name {
    text-align: center;
  }

  .teacher__description {
    padding-left: 10px;
  }
}
